.calculatorButton {
  width: 100px
}

.calculatorApp {
  border: 2px solid black;
  min-width: 404px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.calculator_display {
  height: 100px;
}

.calculator_display_content {
  position: relative;
  border: 1px solid;
  margin: 3px;
  box-sizing: border-box;
  height: inherit;
  background-color: #858692;
  color: white;
  text-align: right;
  font-size: 30px;
  flex: 0 0 auto;
}